html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 100%;
}

#floating-panel {
 background-color: #fff;
 border: 1px solid #999;
 left: 25%;
 padding: 5px;
 position: absolute;
 top: 10px;
 z-index: 1;
}

button {
  background-color: #fff;
  border-style: none;
}
