#venn, #donut {
  height: 500px;
  width: 900px;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}


.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  height: 16px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}



.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.labels-group text {
  font-size: 0.8em;
}

#vis {
  background-color: #fff;
  border: 1px solid #808080;
  width: 450px;
  height: 300px;
  text-shadow: none;
}

#vis .total {
  font-size: 18px;
  font-weight: bold;
}

#vis .units {
  fill: #808080;
  font-size: 12px;
}

#vis .label {
  fill: #ccc;
  font-size: 12px;
  font-weight:bold;
}

#vis .value {
  font-size: 12px;
  font-weight: bold;
}
